.intro .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 850px;
    font-family: Lato, sans-serif;
    z-index: 4;
}
.intro .title{
    color: white;
    font-size: 60px;
}
.background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}







main{
    background: black;
    width: flex;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}






.award{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    width: 90%;
    max-width: 1200px;
}

.award img{
    height: auto;
    width: 100%;
    display: block;


}

.award span{
    color: white;
    font-family: Lato, sans-serif;
    font-size: 30px;
}


